<div class="row">
    <div class="col-xs-10">
        <app-registration-edit></app-registration-edit>
        <hr> 
        <table class="table table-hover table-bordered">
            <thead >
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Plate Number</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let plate of plates">
                <td>{{plate.name}}</td>
                <td>{{plate.numberPlate}}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>